html
    head
        //- 안에 있다라는 것은 tab을 통해 표현함
        title Jade 테스트입니다
    body
        h2 안녕하세요 Jade!
        p 처음으로 만드는 Jade 예제입니다.
        br
        a(href="https://www.naver.com", title="네이버로 놀러가기") 네이버로 놀러가기
        //- 태그 속성은 ()를 통해 표현함, 속성은 추가하고 싶으면 , 후에 추가해주면 됨
        //- 클릭될 내용이 () 다음에 나옴

//- 이를 jade 모듈에게 주고 해석하면 html 파일이 되는 것